<a href="https://colab.research.google.com/github/ShauThongHo/Practical-Discrete-Mathematics/blob/master/Chapter%2001%20-%20Introduction/Chapter1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 1 - Introduction: Key Concepts, Notation, Set Theory, Relations, and Functions

This notebook contains code accompanying Chapter 1 Introduction: Key Concepts, Notation, Set Theory, Relations, and Functions in *Practical Discrete Mathematics* by Ryan T. White and Archana Tikayat Ray

## Functions and Relations

### The `sort()` function

In [3]:
numbers = [3, 1, 4, 12, 8, 5, 2, 95]
names = ['Wyatt', 'Brandon', 'Kumar', 'Eugene', 'Elise']

# Apply the sort() function to the lists
numbers.sort()
names.sort()

# Display the output
print(numbers)
print(names)

[1, 2, 3, 4, 5, 8, 12, 95]
['Brandon', 'Elise', 'Eugene', 'Kumar', 'Wyatt']

### The `shuffle()` function

In [ ]:
import random

# Set a random seed so the code is reproducible
random.seed(1)

# Run the random.shuffle() function 5 times and display the outputs
for i in range(0,5):
    numbers = [3, 1, 4, 12, 8, 5, 2, 9]
    random.shuffle(numbers)
    print(numbers)

[12, 2, 1, 5, 9, 3, 8, 4]
[4, 2, 8, 3, 1, 12, 5, 9]
[4, 5, 1, 9, 3, 8, 12, 2]
[9, 12, 2, 8, 5, 3, 4, 1]
[9, 8, 4, 3, 12, 1, 5, 2]

This code is about union

create 2 set of number and union it. create the python code

In [1]:
# Define two sets of numbers
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Union of the two sets
union_set = set1.union(set2)

# Print the result
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8}

shuffle the character in your name

In [7]:
import random
random.seed(12)
for i in range(0,5):
  name = ["H", "E", "L", "L", "O"]
  random.shuffle(name)
  print(name)

['H', 'E', 'O', 'L', 'L']
['L', 'O', 'H', 'L', 'E']
['H', 'E', 'O', 'L', 'L']
['L', 'H', 'L', 'E', 'O']
['H', 'L', 'L', 'E', 'O']